body {
    background-color: rgb(255, 255, 255);
    font-family: Arial;
    text-align: center;
    padding-top: 100px;
}


h1 {
    color: rgb(0, 0, 73);
    font-size: 50px;

}

button {
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.shape {
    width: 500px;
    height: 300px;
    background-color: rgb(0, 0, 0, 0.75);
    margin: auto;
    border-radius: 20px;
    position: relative; /* 기준점 */
}

.overlay {
    position: absolute; /* 겹치기 */
    margin: auto;
    left: 45px;
    top: 25px;

}
